<?xml version="1.0" encoding="utf-8"?><!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --><!--  --><!-- Copyright (c) since 1999. VASCO DATA SECURITY --><!-- All rights reserved. http://www.vasco.com --><!--  --><!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vasco.orchestration.sample">

    <!-- Needed for online activation and general networking usage -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Needed for Bluetooth collect in CDDC -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />


    <!-- Needed for Wifi collect in CDDC -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Needed for Geolocation, Bluetooth and Wifi CDDC collection -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Add android:usesCleartextTraffic="true" to <application> tag if you connecting to the server via http -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">

        <!-- Needed for Notification -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ActivationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".RemoteActivity"
            android:label="@string/title_activity_remote"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

            <!-- Needed for Notification -->
            <!-- This intent filter is used to select the activity that will be launched when the user clicks on a notification. -->
            <!-- The MIME type is customizable. Make sure it matches the "notificationMIMEType" property in the assets/vasco.properties file. -->
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.com.vasco.notification.orchestration.NOTIFICATION_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".LocalAuthenticationActivity"
            android:label="@string/title_activity_local_authentication"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".LocalTransactionActivity"
            android:label="@string/title_activity_local_transaction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".GetInformationActivity"
            android:label="@string/title_activity_get_information"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".CDDCMessageActivity"
            android:label="@string/title_activity_cddc_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>